<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nndl_proj1</title>
</head>
<body>
<center>
<h1> deep learning project</h1>
<form action="\predict" method="post">
    <h2>crop suggestor</h2>
    <input id="one" name="N" type="number" placeholder=" nitrogen level" ><br>
    <input id="two" name="P" type="number" placeholder="phosphorous level" ><br>
    <input id="three" name="K" type="number" placeholder="potassiun level" ><br>
    <input id="four" name="temperature" type="number" placeholder="temperatue " ><br>
    <input id="five" name="humidity" type="number" placeholder="hunidity " ><br>
    <input id="six" name="ph" type="number" placeholder="ph" ><br>
    <input id="seven" name="rainfall" type="number" placeholder="rainfall " ><br>


    <button type="submit">Predict</button>

</form>
{{pred}}
</center>
</body>
</html>